*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(51, 120, 195);
    width: 100%;
    height: 4rem;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.body-container{
    margin: 5rem;
    display: flex;
    align-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(196, 225, 250);
    text-align: center;
    
}

.table-header{
    background-color: rgb(51, 120, 195);
    height: 3rem;
    
    color: white;
}

tr:nth-child(even) {
    background-color: white;
  }

table{
    width: 100%;
}

td{
    height: 3rem;
}

.footer{
    background-color: rgb(51, 120, 195);
    width: 100%;
    height: 4rem;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}

.header-text{
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 20px;

}

.vl {
    border-left: 6px solid green;
    height: 500px;
  }