
table{
    width:100%;
    border-width: 1px; 
    border-style: solid; 
    border-color: #000000;
} 
table th,table td{            
    border-width:1px; 
    border-style: solid; 
    border-color: #000000; 
    padding: 3px 5px;
} 
.btn-submit {
    text-align: center;
}
.required::after {
    content: " *";
    color: red;
}